<ng-container *ngIf="gameService.isInGame">
    <p>Game Id: {{gameService.gameId}}</p>
    <p>You are: {{gameService.player}}</p>
    <div [style.height.px]="gameService.boardSize*100"
         [style.width.px]="gameService.boardSize*100">
        <app-board></app-board>
        <button (click)="gameService.resetGame()">Reset Game</button>
        <button (click)="gameService.undoLastMove()">Undo Last Move</button>
    </div>
</ng-container>

<div *ngIf="!gameService.isInGame">
    <app-start-screen></app-start-screen>
</div>